body {
    font-family: Arial, sans-serif;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ajusta la altura para centrar verticalmente */
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e8eff3;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    border-radius: 15px;
}

.container img {
    width: 100px;
    height: 100px;
    top: 0;
    /* Colocamos la imagen en la parte superior */
    left: 50%;
    z-index: 1;
}



h2 {
    color: #333;
}

p {
    color: #666;
}

form {
    margin-top: 20px;
}

form input[type="email"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #2433bd;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2433bd;
}