/* Estilo para ajustar la altura de las tarjetas */
.card.h-100 {
    height: 300px !important;
    /* Ajusta esta altura según tus necesidades */
}

/* Estilo para el modal */
.modal-content {
    width: 80%;
    /* Ancho del modal */
    max-width: 100%;
    /* Ancho máximo */
}

/* Estilo para el contenedor de la imagen */
.img-container {
    height: 400px;
    /* Altura del contenedor de la imagen */
    overflow: hidden;
    /* Ocultar el desbordamiento */
}

/* Estilo para la imagen del producto dentro del modal */
#productoImagen {
    width: 100%;
    /* Ancho del 100% del contenedor */
    height: auto;
    /* Altura automática para mantener la proporción */
    transition: transform 0.3s ease;
    /* Transición suave de 0.3 segundos */
}

/* Estilo para el precio del producto dentro del modal */
#productoPrecio {
    color: #dc3545;
    /* Color rojo para el precio */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para la superposición */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Estilo para mostrar la superposición al pasar el mouse */
.card:hover .overlay {
    opacity: 1;
}

/* Estilo para la caja de precio */
.price-box {
    background-color: #f8d7da;
    /* Color de fondo */
    padding: 5px 10px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Bordes redondeados */
    display: inline-block;
    /* Mostrar en línea */
}

.price {
    margin: 0;
    /* Eliminar el margen interior */
    color: #721c24;
    /* Color del texto */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para el botón de detalles */
.detallesBtn {
    display: none;
    /* Ocultar el botón por defecto */
}

/* Estilo para mostrar el botón de detalles al pasar el mouse */
.card:hover .detallesBtn {
    display: block;
    /* Mostrar el botón cuando se pase el mouse sobre la tarjeta */
}

/* Estilo para el precio del producto */
.price {
    margin: 0;
    /* Eliminar el margen interior */
    color: #721c24;
    /* Color del texto */
    font-weight: bold;
    /* Texto en negrita */
}

.card.h-100 {
    height: 300px !important;
}

.password-input-container {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 49%;
    right: 20px;
    /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    /* Ajusta el ancho según sea necesario */
    height: 20px;
    /* Ajusta la altura según sea necesario */
    background: url('images/eye-icon.svg') center center no-repeat;
    /* Ajusta la ruta según sea necesario */
}

.hamburguer {
    /* Estilos del botón hamburguesa */
    position: absolute;
    top: 5%;
    right: 30px;
    background: #2433bd;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 0 6px rgb(230, 230, 236);
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(85, 83, 83, 0.534);
    background-color: rgba(88, 87, 87, 0.658);

}

.modalContainer .modal-content {
    background-color: #6d6d7e;
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(80, 9, 211);
    border-top: 15px solid #5869b7;
    width: 25%;
    border-radius: 30px;
    text-align: center;
}

.modalContainer .close {
    color: #0921aa;
    position: absolute;
    top: 10px;
    /* Ajusta la posición vertical según sea necesario */
    right: 10px;
    /* Ajusta la posición horizontal según sea necesario */
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.spread {
    transform: translate(0);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #001A49;
}

.form-group input {
    width: 97%;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #130a0a;
}

.form-group .password-toggle {
    margin-top: 5px;
}

.form-group .password-toggle input {
    width: auto;
    display: inline-block;
    margin-left: 5px;
}

.form-group .password-toggle label {
    display: inline;
}

.form-group .forgot-password {
    margin-top: 5px;
    text-align: left;
}

.form-group .forgot-password a {
    color: #0c0808;
    text-decoration: none;
}

.forgot-password-link {
    color: #1d1313;
}

.button {
    border-radius: 30px;
    padding: 15px;
    background: #2433bd;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: #eee7e7;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffff;
}

.registro {
    border-radius: 30px;
    padding: 15px;
    background: #2433bd;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff !important;
}

.button,
.registro {
    width: calc(50% - 20px);
    /* Ancho de los botones, restando el margen */
    margin: 0% auto;
    /* Margen entre los botones */
    border-radius: 30px;
    padding: 15px;
    background: #2433bd;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: #eee7e7;
}
.font-small {
    font-size: 12px;
    /* Tamaño pequeño */
}

.font-medium {
    font-size: 16px;
    /* Tamaño mediano */
}

.font-large {
    font-size: 20px;
    /* Tamaño grande */
}

.font-small,
.font-medium,
.font-large {
    background-color: transparent;
    /* Quitar el fondo */
    color: white;
    /* Color de texto blanco */
    font-weight: bold;
    /* Negrita */
}
.InputContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
}

@media (max-width: 1500px) {
    .InputContainer {
        display: none;
        /* Ocultar el contenedor en pantallas más pequeñas que 1500px */
    }
}

.InputContainer .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
    color: black;
    
}

.input {
    width: 300px;
    /* Ancho del campo de búsqueda */
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
    border: 2px solid transparent;
    color: black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.InputContainer .input:valid~.label,
.InputContainer .input:focus~.label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
}

.InputContainer .input:valid,
.InputContainer .input:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.card {
    width: 250px;
    height: 300px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px rgba(0, 0, 50, 0.5),
        -15px -15px 30px rgba(0, 0, 50, 0.5);

}