/* Estilos para el reset general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor principal */
.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 10px;
  overflow-y: auto;
  background-color: #fff;
}

/* Estilos para la sección de información */
.information {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #031c50;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.information img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 30%;
  transform: translateX(-50%);
  z-index: 1;
}

.info-childs {
  width: 100%;
  padding: 30px;
  color: #0c0c0f;
  text-align: center;
}

.info-childs p {
  font-size: 1rem;
  margin: 15px 0;
}

/* Estilos para la sección de formulario */
.form-information {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: auto;
}

.form-information-childs {
  width: 100%;
  padding: 30px;
}

.form-information-childs h2 {
  font-size: 2rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 15px;
}

/* Estilos para los íconos de redes sociales */
.icons {
  margin: 15px 0;
}

.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
  color: #2433bd;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.icons img:hover {
  background-color: #2433bd;
  color: #1846cf;
}

/* Estilos para el formulario */
.form {
  width: 100%;
  max-width: 500px;
  margin: 30px 0;
  padding: 0 20px;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.form label input,
.form label select {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333;
}

.form label img {
  color: #a7a7a7;
}

.form input[type="submit"] {
  background-color: #2433bd;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

/* Media Query para tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {
  /* Redefine los estilos según las necesidades de pantalla más pequeña */
  .container-form {
    flex-direction: column; /* Cambia a diseño de columna */
    max-width: 100%; /* Ocupa todo el ancho disponible */
  }

  .information {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-radius: 0; /* Elimina los bordes redondeados si es necesario */
  }

  /* Estilos para centrar el formulario en pantalla más pequeña */
  .form-information {
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
  }

  /* Ajustes para centrar el formulario en pantalla más pequeña */
  .form {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0; /* Elimina el margen que podría estar causando el desplazamiento a la izquierda */
    padding: 20px; /* Agrega espacio interior para mejorar la apariencia */
  }

  /* Resto de los ajustes necesarios para pantallas más pequeñas */
}

