body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #c0c0c0);
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}
center {
    margin-top: 20px;
}
form {
    margin-bottom: 20px;
}
table {
    width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-collapse: collapse;
    border: 2px double black; /* Líneas dobles y de color negro */
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
th, td {
    border: 2px double black; /* Líneas dobles y de color negro */
    padding: 8px;
    text-align: left;
}
th {
    background-color: #333; /* Color oscuro para el encabezado */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrar el texto del encabezado */
}
td.code, td.category {
    text-align: center; /* Centrar el contenido de Código y Categoría */
}
select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
input[type="submit"] {
    padding: 8px 20px;
    background-color: #333; /* Color oscuro para el botón */
    color: white; /* Color de texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}