        /* Estilo para el contenedor que envuelve al botón de cerrar sesión */
        .align-items-center {
            display: flex;
            align-items: center;
        }

        /* Estilo para el recuadro del ícono de cerrar sesión */
        #logout {
            display: inline-flex;
            align-items: center;
            padding: 10px 20px; /* Aumenta el padding para hacer el recuadro más grande */
            border: 1px solid #ffffff;
            border-radius: 10px; /* Aumenta el radio de borde para hacer el recuadro más redondeado */
            cursor: pointer;
            color: white;
        }

        /* Estilo para el icono de discapacitado */
        #disabled-icon {
            margin-right: 10px;
        }

        /* Estilo para el texto "Cerrar sesión" */
        #logout-text {
            white-space: nowrap;
            margin-right: 10px;
        }

        /* Estilo para el texto dentro del botón de hamburguesa */
        #menu-toggle span {
            color: white;
            text-decoration: none;
        }

        /* Estilo para los elementos del menú desplegable */
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #333;
            padding: 20px; /* Aumenta el padding para hacer el recuadro más grande */
            border-radius: 10px; /* Aumenta el radio de borde para hacer el recuadro más redondeado */
            z-index: 1000; /* Ajusta el z-index para que esté por encima */
        }

        /* Estilo para cada opción del menú desplegable */
        .dropdown-menu-item {
            color: white;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }

        .dropdown-menu-item:hover {
            color: #ffffff; /* Cambia el color del texto al pasar el mouse */
            text-decoration: none !important; /* Quita el subrayado al pasar el ratón */
        }

        /* Estilo para el botón de cerrar sesión al pasar el ratón */
        #logout-button:hover {
            cursor: pointer;
        }

        /* Estilo para alinear a la derecha */
        .align-right {
            margin-left: auto;
        }
        /* ETILOS DE ACCESIBILIDAD*/
        .font-small {
            font-size: 14px;
        }

        .font-medium {
            font-size: 16px;
        }

        .font-large {
            font-size: 20px;
        }

        #disabled-icon {
            display: inline-block; /* Para alinear verticalmente con los enlaces */
        }

        a {
            text-decoration: none; 
        }
        /* mi menu*/
        #logout-button:hover {
            cursor: pointer;
        }
        /* contador de carrito*/
        .contador-rojo {
            color: red;
        }
        .card.h-100 {
            height: 300px !important; /* Ajusta esta altura según tus necesidades */
        }
                        /* Estilo para el modal */
                        .modal-content {
                            width: 80%; /* Ancho del modal */
                            max-width: 100%; /* Ancho máximo */
                        }
        
                        /* Estilo para el contenedor de la imagen */
                        .img-container {
                            height: 400px; /* Altura del contenedor de la imagen */
                            overflow: hidden; /* Ocultar el desbordamiento */
                        }
        
                        /* Estilo para la imagen del producto */
                        #productoImagen {
                            width: 100%; /* Ancho del 100% del contenedor */
                            height: auto; /* Altura automática para mantener la proporción */
                            transition: transform 0.3s ease; /* Transición suave de 0.3 segundos */
                        }
        
                        /* Estilo para el precio del producto */
                        #productoPrecio {
                            color: #dc3545; /* Color rojo para el precio */
                            font-weight: bold; /* Texto en negrita */
                        }
                                
                        /* Estilo para la superposición */
                    .overlay {
                        background-color: rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        transition: opacity 0.3s;
                        border-radius: 15px; 
                    }
        
                    /* Estilo para mostrar la superposición al pasar el mouse */
                    .card:hover .overlay {
                        opacity: 1;
                    }
                    .price-box {
                        background-color: #f8d7da; /* Color de fondo */
                        padding: 5px 10px; /* Espaciado interno */
                        border-radius: 5px; /* Bordes redondeados */
                        display: inline-block; /* Mostrar en línea */
                    }
        
                    .price {
                        margin: 0; /* Eliminar el margen interior */
                        color: #721c24; /* Color del texto */
                        font-weight: bold; /* Texto en negrita */
                    }
                    .font-small {
                        font-size: 12px; /* Tamaño pequeño */
                    }
                    
                    .font-medium {
                        font-size: 16px; /* Tamaño mediano */
                    }
                    
                    .font-large {
                        font-size: 20px; /* Tamaño grande */
                    }
                    